*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial,serif;;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:  rgb(22, 22, 22);
}

.logo{
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.logo spam{
    padding: 8px;
    border: 1px solid #ffffff;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: antiquewhite;
    margin: 5px;
    transition: all 0.5s ease;
}

.landing{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.title{
    color: white;
    text-align: center;
}

h1{
    font-size: 70px;
}

.title p{
    display: inline;
    font-size: 20px;
    line-height: 2;
    background-color: rgba(22, 22, 22, 0.4);
    padding: 10px;
}
.fadeIn{
    animation: fadeIn 3s both;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fadeInDown{
    animation: fadeInDown 1s both;
}
@keyframes fadeInDown{
    from{
        transform: translate3d(0, -100%, 0);
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp{
    animation: fadeInUp 1s both;
}
@keyframes fadeInUp{
    from{
        transform: translate3d(0, 100%, 0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}

.history{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}



footer{
    background-color: rgb(22, 22, 22);
    height: 100px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links{
       position: absolute;
       right: 0;
       height: 92vh;
       top: 8vh;
       background-color: rgb(22, 22, 22);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 60%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       z-index: 10;
    }
    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


@media (max-width: 600px){
   h1{
       font-size: 40px;
   }
}